# packages in environment at /home/zenghy/.conda/envs/DDA:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main    defaults
_openmp_mutex             5.1                       1_gnu    defaults
absl-py                   1.4.0                    pypi_0    pypi
accelerate                0.20.3                   pypi_0    pypi
addict                    2.4.0                    pypi_0    pypi
aiohttp                   3.8.4                    pypi_0    pypi
aiosignal                 1.3.1                    pypi_0    pypi
albumentations            1.3.0                    pypi_0    pypi
async-timeout             4.0.2                    pypi_0    pypi
attrs                     23.1.0                   pypi_0    pypi
basicsr                   1.4.2                    pypi_0    pypi
blas                      1.0                         mkl    defaults
blobfile                  2.0.1                    pypi_0    pypi
brotlipy                  0.7.0           py38h27cfd23_1003    defaults
bzip2                     1.0.8                h7b6447c_0    defaults
ca-certificates           2023.01.10           h06a4308_0    defaults
cachetools                5.3.1                    pypi_0    pypi
certifi                   2022.12.7        py38h06a4308_0    defaults
cffi                      1.15.1           py38h5eee18b_3    defaults
charset-normalizer        2.0.4              pyhd3eb1b0_0    defaults
click                     8.1.3                    pypi_0    pypi
colorama                  0.4.6                    pypi_0    pypi
contourpy                 1.0.7                    pypi_0    pypi
cryptography              39.0.1           py38h9ce1e76_0    defaults
cudatoolkit               11.3.1               h2bc3f7f_2    defaults
cupy-cuda113              10.6.0                   pypi_0    pypi
cycler                    0.11.0                   pypi_0    pypi
datasets                  2.13.0                   pypi_0    pypi
diffusers                 0.17.0                   pypi_0    pypi
dill                      0.3.6                    pypi_0    pypi
einops                    0.6.1                    pypi_0    pypi
fastrlock                 0.8.1                    pypi_0    pypi
ffmpeg                    4.3                  hf484d3e_0    pytorch
filelock                  3.9.0            py38h06a4308_0    defaults
flit-core                 3.8.0            py38h06a4308_0    defaults
fonttools                 4.39.3                   pypi_0    pypi
freetype                  2.12.1               h4a9f257_0    defaults
frozenlist                1.3.3                    pypi_0    pypi
fsspec                    2023.6.0                 pypi_0    pypi
future                    0.18.3                   pypi_0    pypi
giflib                    5.2.1                h5eee18b_3    defaults
gmp                       6.2.1                h295c915_3    defaults
gmpy2                     2.1.2            py38heeb90bb_0    defaults
gnutls                    3.6.15               he1e5248_0    defaults
google-auth               2.20.0                   pypi_0    pypi
google-auth-oauthlib      1.0.0                    pypi_0    pypi
grpcio                    1.54.2                   pypi_0    pypi
huggingface-hub           0.15.1                   pypi_0    pypi
idna                      3.4              py38h06a4308_0    defaults
imageio                   2.27.0                   pypi_0    pypi
importlib-metadata        6.4.1                    pypi_0    pypi
importlib-resources       5.12.0                   pypi_0    pypi
intel-openmp              2021.4.0          h06a4308_3561    defaults
jinja2                    3.1.2            py38h06a4308_0    defaults
joblib                    1.2.0                    pypi_0    pypi
jpeg                      9e                   h5eee18b_1    defaults
kiwisolver                1.4.4                    pypi_0    pypi
lame                      3.100                h7b6447c_0    defaults
lazy-loader               0.2                      pypi_0    pypi
lcms2                     2.12                 h3be6417_0    defaults
ld_impl_linux-64          2.38                 h1181459_1    defaults
lerc                      3.0                  h295c915_0    defaults
libdeflate                1.17                 h5eee18b_0    defaults
libffi                    3.4.2                h6a678d5_6    defaults
libgcc-ng                 11.2.0               h1234567_1    defaults
libgfortran-ng            7.5.0               ha8ba4b0_17    defaults
libgfortran4              7.5.0               ha8ba4b0_17    defaults
libgomp                   11.2.0               h1234567_1    defaults
libiconv                  1.16                 h7f8727e_2    defaults
libidn2                   2.3.2                h7f8727e_0    defaults
libpng                    1.6.39               h5eee18b_0    defaults
libstdcxx-ng              11.2.0               h1234567_1    defaults
libtasn1                  4.19.0               h5eee18b_0    defaults
libtiff                   4.5.0                h6a678d5_2    defaults
libunistring              0.9.10               h27cfd23_0    defaults
libwebp                   1.2.4                h11a3e52_1    defaults
libwebp-base              1.2.4                h5eee18b_1    defaults
line-profiler             4.1.2                    pypi_0    pypi
lmdb                      1.4.1                    pypi_0    pypi
lxml                      4.9.2                    pypi_0    pypi
lz4-c                     1.9.4                h6a678d5_0    defaults
markdown                  3.4.3                    pypi_0    pypi
markdown-it-py            2.2.0                    pypi_0    pypi
markupsafe                2.1.1            py38h7f8727e_0    defaults
matplotlib                3.7.1                    pypi_0    pypi
mdurl                     0.1.2                    pypi_0    pypi
medpy                     0.4.0                    pypi_0    pypi
mkl                       2021.4.0           h06a4308_640    defaults
mkl-service               2.4.0            py38h7f8727e_0    defaults
mkl_fft                   1.3.1            py38hd3c417c_0    defaults
mkl_random                1.2.2            py38h51133e4_0    defaults
mmcls                     0.25.0                   pypi_0    pypi
mmcv-full                 1.7.1                    pypi_0    pypi
model-index               0.1.11                   pypi_0    pypi
monai                     1.3.0                    pypi_0    pypi
mpc                       1.1.0                h10f8cd9_1    defaults
mpfr                      4.0.2                hb69a4c5_1    defaults
mpi                       1.0                       mpich    defaults
mpi4py                    3.1.4            py38hfc96bbd_0    defaults
mpich                     3.3.2                hc856adb_0    defaults
mpmath                    1.2.1            py38h06a4308_0    defaults
multidict                 6.0.4                    pypi_0    pypi
multiprocess              0.70.14                  pypi_0    pypi
ncurses                   6.4                  h6a678d5_0    defaults
nettle                    3.7.3                hbbd107a_1    defaults
networkx                  2.8.4            py38h06a4308_1    defaults
nibabel                   5.1.0                    pypi_0    pypi
numpy                     1.23.5           py38h14f4228_0    defaults
numpy-base                1.23.5           py38h31eccc5_0    defaults
oauthlib                  3.2.2                    pypi_0    pypi
opencv-python             4.7.0.72                 pypi_0    pypi
opencv-python-headless    4.7.0.72                 pypi_0    pypi
openh264                  2.1.1                h4ff587b_0    defaults
openmim                   0.3.7                    pypi_0    pypi
openssl                   1.1.1t               h7f8727e_0    defaults
ordered-set               4.1.0                    pypi_0    pypi
packaging                 23.1                     pypi_0    pypi
pandas                    2.0.0                    pypi_0    pypi
pillow                    9.4.0            py38h6a678d5_0    defaults
pip                       23.0.1           py38h06a4308_0    defaults
protobuf                  3.20.3                   pypi_0    pypi
psutil                    5.9.5                    pypi_0    pypi
pyarrow                   12.0.1                   pypi_0    pypi
pyasn1                    0.5.0                    pypi_0    pypi
pyasn1-modules            0.3.0                    pypi_0    pypi
pycparser                 2.21               pyhd3eb1b0_0    defaults
pycryptodomex             3.17                     pypi_0    pypi
pygments                  2.15.0                   pypi_0    pypi
pyopenssl                 23.0.0           py38h06a4308_0    defaults
pyparsing                 3.0.9                    pypi_0    pypi
pysocks                   1.7.1            py38h06a4308_0    defaults
python                    3.8.16               h7a1cb2a_3    defaults
python-dateutil           2.8.2                    pypi_0    pypi
pytorch                   2.0.0               py3.8_cpu_0    pytorch
pytorch-mutex             1.0                         cpu    pytorch
pytz                      2023.3                   pypi_0    pypi
pywavelets                1.4.1                    pypi_0    pypi
pyyaml                    6.0                      pypi_0    pypi
qudida                    0.0.4                    pypi_0    pypi
readline                  8.2                  h5eee18b_0    defaults
regex                     2023.6.3                 pypi_0    pypi
requests                  2.28.1           py38h06a4308_1    defaults
requests-oauthlib         1.3.1                    pypi_0    pypi
rich                      13.3.4                   pypi_0    pypi
rsa                       4.9                      pypi_0    pypi
safetensors               0.3.1                    pypi_0    pypi
scikit-image              0.20.0                   pypi_0    pypi
scikit-learn              1.2.2                    pypi_0    pypi
scipy                     1.9.1                    pypi_0    pypi
setuptools                66.0.0           py38h06a4308_0    defaults
simpleitk                 2.2.1                    pypi_0    pypi
six                       1.16.0             pyhd3eb1b0_1    defaults
sqlite                    3.41.2               h5eee18b_0    defaults
sympy                     1.11.1           py38h06a4308_0    defaults
tabulate                  0.9.0                    pypi_0    pypi
tb-nightly                2.14.0a20230714          pypi_0    pypi
tensorboard               2.13.0                   pypi_0    pypi
tensorboard-data-server   0.7.1                    pypi_0    pypi
tensorboardx              2.6.2.2                  pypi_0    pypi
threadpoolctl             3.1.0                    pypi_0    pypi
tifffile                  2023.4.12                pypi_0    pypi
tk                        8.6.12               h1ccaba5_0    defaults
tokenizers                0.13.3                   pypi_0    pypi
torchaudio                2.0.0                  py38_cpu    pytorch
torchvision               0.15.0                 py38_cpu    pytorch
tqdm                      4.65.0                   pypi_0    pypi
transformers              4.30.2                   pypi_0    pypi
typing_extensions         4.4.0            py38h06a4308_0    defaults
tzdata                    2023.3                   pypi_0    pypi
urllib3                   1.26.15          py38h06a4308_0    defaults
werkzeug                  2.3.6                    pypi_0    pypi
wheel                     0.38.4           py38h06a4308_0    defaults
xxhash                    3.2.0                    pypi_0    pypi
xz                        5.2.10               h5eee18b_1    defaults
yapf                      0.32.0                   pypi_0    pypi
yarl                      1.9.2                    pypi_0    pypi
zipp                      3.15.0                   pypi_0    pypi
zlib                      1.2.13               h5eee18b_0    defaults
zstd                      1.5.5                hc292b87_0    defaults
